node_modules/
frontend/node_modules/
backend/node_modules/
backend/nodemon.json
backend/logs/

.env
.env.production
.env.production.server

.DS_Store
uploads/
.cache/
dist/
build/
coverage/
.idea/
.vscode/
*.log
docs/
tests/
test/
.agents
md

db_backup/